<app-top></app-top>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1>Data Table</h1>
            <ul class="breadcrumb side">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li>Tables</li>
              <li class="active"><a href="#">User List</a></li>
            </ul>
          </div>
          <div><a class="btn btn-primary btn-flat" [routerLink]="['/add-user']"><i class="fa fa-lg fa-plus"></i></a><a class="btn btn-info btn-flat" href="#"><i class="fa fa-lg fa-refresh"></i></a><a class="btn btn-warning btn-flat" href="#"><i class="fa fa-lg fa-trash"></i></a></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Emp ID</th>
                      <th>Contact Number</th>
                      <th>   Action   </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userService.employeeList">
                      <td>{{user.name}} </td>
                      <td>{{user.address}} </td>
                      <td>{{user.phone}}</td>
                      <td>
                          <i class="fa fa-edit"></i> <a href=""> Edit</a> | <i class="fa fa-trash"></i> <a href=""> Delete</a> 
                        
                         </td>
                      </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
